@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prisión buen pasante</h1>
    <p class="lead">La prisión con las mejores comodidades.</p>
</div>

<div class="row">

    <div class="col-xs-4 ">
        <a href="#" class="btn btn-default">@Html.ActionLink("Ingresar Recluso", "ingresar", "reclusos")</a>      
    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
   
</div>